<h1>Editing Product</h1>

<%= render 'form', product: @product, url: admin_product_path, method: :patch %>

<%= link_to 'Show', admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
